@using Microsoft.Extensions.Localization
@using Taskboard.Components.Buttons
@using Taskboard.Entities.Task
@using Taskboard.Models;
@using Taskboard.Services.Format
@inject FormatService formatservice
@inject IStringLocalizer<SharedResource> localizer

<div class="taskcard">
    <div class="tasktitle">
        <h3>@CardTaskItem.Title</h3>
        <UpdateTaskButton SelectedTask="@CardTaskItem" />
        <DeleteTaskButton SelectedTask="@CardTaskItem"></DeleteTaskButton>
    </div>
    <div class="taskdesc">
        <span>@CardTaskItem.Description</span>
    </div>
    <div class="taskcreated">
        <span>@sinceCreation</span>
    </div>
    <div class="taskstate">
        <span>@CardTaskItem.TaskStatus</span>
    </div>
    
</div>

@code {
    [Parameter] 
    public TaskItemEntity CardTaskItem { get; set; }

    public string sinceCreation = string.Empty;
    
    protected override void OnInitialized()
    {
        sinceCreation = formatservice.TimeSinceCreation(CardTaskItem.Created);
    }

    
}